In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [2]:
st.title('Streamlit 入門')

st.write('DataFrame')

2022-10-29 14:16:26.202
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /opt/homebrew/lib/python3.9/site-packages/ipykernel_launcher.py [ARGUMENTS]

In [6]:
df = pd.DataFrame({
    '1列目': [1, 2, 3, 4],
    '2列目': [10, 20, 30, 40]
})
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [19]:
df = pd.DataFrame(
    np.random.rand(100,2)/[50,50] + [35.69, 139.70],
    columns=['lat','lon']
)
df

          lat         lon
0   35.707548  139.703099
1   35.694335  139.718739
2   35.700573  139.702139
3   35.690553  139.702581
4   35.698408  139.708011
..        ...         ...
95  35.704051  139.703240
96  35.703005  139.714492
97  35.698985  139.707885
98  35.708591  139.706583
99  35.707376  139.708340

[100 rows x 2 columns]

In [20]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]